# Virtual environments
venv

# Outputs
outputs
processed_files
__pycache__
.vscode
inputs


# Ignore Audio Files 🎵
*.wav
*.mp3
*.m4a
*.flac
*.ogg
*.aiff

# Ignore Video Files 🎥
*.mp4
*.mkv
*.avi
*.mov
*.webm
*.wmv